<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="opacity: 1">Exams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="exmasFetched.length > 0">
    <ion-list-header>Slide to Take Exam</ion-list-header>
    <ion-item-sliding *ngFor="let item of exmasFetched; index as i">
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/img/book.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{item.get_course.course_name}}</h2>
          <h3>{{item.get_course.course_subject}}</h3>
          <!-- <p>12:30 AM - 01:30 PM</p> -->
        </ion-label>
        <!-- <ion-checkbox></ion-checkbox> -->
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="takeAttendance(item)"
          >Take Exam</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="exmasFetched.length === 0">
    <ion-item> No Record(s) Found! </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addNewExams()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
